@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&family=Source+Code+Pro&display=swap');

.cursor{
  background-color:#fbdb8c;
}
h1{
    color:#e2b714;
}
.done{
    color: #d1d0c5;
}
.failed{
    color: #ca4754;
}
.failed-space{
    background-color: #7e2a33;
}
body{
    background-color: #323437;
    color: #e2b714;
}
.tp{
    color: #646669;
}