body{
    background-color: #4635a8;
    color:white;
}
h3, .wrapper, .stats, button,.success{
    color: #f2ce83;
}
h1{
    color:#ffc800;
}
.container{
    background-color: #241963;
}
textarea, button, #themes, #themes:hover,
#themes:focus{
    background: #302280;
    color:white;
}

.fail{
    color: crimson;
}
.fail-space{
    background-color: rgba(220, 20, 60, 0.246);
    
} 
