@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&family=Source+Code+Pro&display=swap');

.cursor{
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: transparent;
  }
}
h1{
    font-family: 'Readex Pro';
    font-size: px;
}

body{
    font-family: 'Source Code Pro';
    font-size: 30px;
    margin: 3rem;
    align-content: center;
    align-items: center;
}
.tp{
    border-radius: 5px;
    text-align: justify;
    padding: 20px;
   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* :root {
  :root {
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}

}

#menu .icon-button {
  color: #f2ce83;
}

#menu .icon-button:hover {
  color: #c6915e;
}

   */
