@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&family=Source+Code+Pro&display=swap');

.cursor{
    
    background-color: #8c0038;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: transparent;
  }
}
h1{
    font-family: 'Readex Pro';
}
.done{
    color: #199;
}
.failed{
    color: #df4576;
}
.failed-space{
    background-color: #d996ac;
    margin: 2px;
}
body{
    background-color: #171f2f;
    color: #aae2da;
    font-family: 'Source Code Pro';
    font-size: 35px;
    margin: 3rem;
}
.tp{
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin: 5rem auto;
    width:70rem;
}

/* :root {
    --bg-color: #212b42;
    --main-color: #add7ff;
    --caret-color: #962f7e;
    --sub-color: #5c7da5;
    --text-color: #91b4d5;
    --error-color: #df4576;
    --error-extra-color: #d996ac;
    --colorful-error-color: #df4576;
    --colorful-error-extra-color: #d996ac;
  }
  
  #top .logo .bottom {
    color: #962f7e;
  }
   */
